
<nav>
  <div class="nav-wrapper black">
    <a href="/" class="brand-logo center">Screen fiction network</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a [routerLink]="['/movies']">Your Films</a></li>
      <li><a [routerLink]="['/add-movie']">Add Films</a></li>
      
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <div *ngIf="afAuth.authState | async as user; else showLogin">
        <li>User: {{ user.displayName }}</li>
        <li><a (click)="logout()">Logout</a></li>
      </div>
      <ng-template #showLogin>
        <a (click)="login()">Login with Google</a>
      </ng-template>
    </ul>
  </div>
</nav>