<div class="card">
  <div class="card-content">
    <span class="card-title">Add Movie</span>
    <form (ngSubmit)="onSubmit()" class="col s6">
      <div class="row">
        <div class="input-field col s6">
          <input type="text" placeholder="Add Title" [(ngModel)]="movie.title" name="title">
          
        </div>
        <div class="input-field col s6">
            <input type="text" placeholder="Add Description" [(ngModel)]="movie.description" name="description">
            
          </div>
          <div class="input-field col s6">
            <input type="text" placeholder=" Add Link" [(ngModel)]="movie.link" name="link">
            
          </div>
          <input type="submit" value="Submit" class="btn">
      </div>

    </form>
  </div>
</div>