<div *ngIf="movies?.length > 0; else noMovies">
  <div *ngFor="let movie of movies">
    <ul *ngIf="movie.author == this.user" class="collection">
      <li class="collection-item"><a [routerLink]="['/movie/'+movie.id]"><strong>{{movie.title}} :</strong> <img [src]='movie.thumbnail' [routerLink]="['/movie/'+movie.id]"></a>
        <a class="secondary-content">
          <i (click)="editMovie($event, movie)" class="fa fa-pencil"></i>
          <i *ngIf="editState && movieToEdit.id == movie.id" (click)="clearState()" class="fa fa-compress"></i>
        </a>
        <div *ngIf="editState && movieToEdit.id == movie.id">
          <form (ngSubmit)="updateMovie(movie)">
            <div class="row">
              <div class="input-field col s6">
                <input type="text" placeholder="Add Title" [(ngModel)]="movie.title" name="title">
              </div>
                <div class="input-field col s6">
                  <input type="text" placeholder="Add Description" [(ngModel)]="movie.description" name="description">
                </div>
                <input type="submit" value="Update Movie" class="btn orange">
                <button (click)="deleteMovie($event, movie)" class="btn red">Delete Movie</button>
              </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>

<ng-template #noMovies>
  <hr>
  <h5>There are no movies to list, or try refreshing the page</h5>
</ng-template>